.toolbar-wrapper {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
    .logo {
        width: 38px;
        height: 38px;
        margin-left: 12px;
    }

    .left-menu-wrapper {
        margin-left: 40px;
        .icon-button {
            display: inline-block;
            cursor: pointer;
            width: 38px;
            height: 38px;
            border-radius: 6px;
            margin-right: 10px;

            &:hover {
                background: #41d6c3;
            }
            svg {
                width: 18px;
                height: 18px;
                stroke: #999;
                stroke-width: 1.4px;
            }
        }
    }
}
