.toolbar-wrapper {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
    .logo {
        width: 38px;
        height: 38px;
        margin-left: 12px;
    }
}
